[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule ".themes/Vimix-Midnight"]
	path = .themes/Vimix-Midnight
	url = https://github.com/Zortax/Vimix-Midnight
