[submodule ".themes/Vimix-Midnight"]
	path = .themes/Vimix-Midnight
	url = https://github.com/AnurupDey/Vimix-Midnight
[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/hlissner/doom-emacs.git
[submodule ".config/doom/snippets"]
	path = .config/doom/snippets
	url = https://github.com/AnurupDey/snippets
