[submodule ".themes/Vimix-Midnight"]
	path = .themes/Vimix-Midnight
	url = https://github.com/Zortax/Vimix-Midnight
[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/hlissner/doom-emacs.git
