configuration {
  theme: "theme.rasi";
  font: "mono 10";
  show-icons: true;

  kb-row-up: "Up,Control+k";
  kb-row-down: "Down,Control+j";
  kb-accept-entry: "Control+m,Return,KP_Enter";
  kb-remove-to-eol: "";

  terminal: "xfce4-terminal";
}
